.comment{
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	background-color: lightgray;
	padding: 5px;
	display:flex;
	align-items:center;
	border-radius: 5px;
}

.comment img {
	margin-right: 5px;
}

.comment h4 {
	margin-right: 15px;
}

.comment p {
	font-size:16px;
}

.comment_header{
	display: flex;
	align-items: center;
}
.add__comments__container{
	width:80%;
	margin: auto;
	min-height: 200px;
	margin-top: 20px;
}
.add__comments__container textarea {
	margin: auto;
	display: block;
}
.add__comments__container button {
	margin: auto;
	display: block;
	margin-top:5px;
	background-color:#222;
	color:#fff;
	width:144px;
	padding: 10px;
	font-weight: bold;
	border-radius: 10px;
}
.comment__success{
	width:60%;
	margin: auto;
	background-color:#b2e9c1 ;
	display: flex;
	justify-content:space-between;
	align-items:baseline;
	min-height:50px;
	padding: 10px;
	border-radius: 10px;
	margin-top: 10px;
}
@media only screen and (max-width:600px){
	.comment{
		flex-direction: column;
		align-items: bottom;
	}

	.comment_header{
		align-self: flex-start;
		margin-bottom:10px;
		align-items: baseline;
	}
	.add__comments__container textarea {
		max-width: 100%;
	}
}
