.login__container{
	width: 500px;
	height: 500px;
	margin:auto;
	margin-top: 100px;
	padding: 50px;
}

.login__container form {
	width:100%;
}

.login__container form input{
	width:100%;
	margin-top: 7px;
	margin-bottom: 5px;
	height: 30px;
}

.login__container form button{
	background:#222;
	color: #fff;
	font-size: medium;
	font-weight: bold;
	padding: 15px;
	width:144px;
	border-radius: 10px;
	margin-left: calc(50% - 72px);
}

.login__error{
	margin-top: 20px;
	width:100%;
	padding: 10px;
	text-align: center;
	border-radius: 3px;
}

.login__error.show {
	background-color: #FFCCCC;
}


@media only screen and (max-width:500px)
{
	.login__container{
		width: 95%;
		margin: auto;
	}
}
