*{
	box-sizing: border-box;
	margin: 0;
}

.landing__container{
	background-image: url(./assets/background.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	width:100%;
	height:calc( 100vh - 50px );
}

a{
	text-decoration: none;
	color: inherit;
}

/*################ NO MATCH CSS ################*/
.nomatch{
	max-width:1440px;
	max-height:500px;
	margin:auto;
	padding-bottom: 20px;
	border-bottom: 2px solid #222;
}

.nomatch__inner{
	max-width: 500px;
	min-height: 100px;
	margin-left: calc(50% - 250px);
	padding-top: calc(25% - 50px);
	text-align: center;
}

.nomatch__inner p{
	margin-bottom: 20px;
}

.nomatch__button {
	background:#222;
	border-radius: 2px;
	padding:5px;
	color:#fff;
}

.nomatch__button:disabled {
	background:gray;
}

@media only screen and (max-width:600px){
.nomatch__inner{
	margin-left: 0;
}

}
