*{
	box-sizing: border-box;
	margin: 0;
}

body{
	background-image: url(./assets/background.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.App{
	max-width: 1440px;
	margin:auto;
}

a{
	text-decoration: none;
	color: inherit;
}
